.table-body {
    td {
        border-radius: var(--globalBorderRadius);
        background-color: var(--bodyBackgroundColor);

        &:last-child {
            text-align: center;
        }
    }
}
